<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/static/project.css"/> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Page Not found</title>

</head>
<body>
    <h1 style="font-family:Poppins"> 404 Error </h1>
    <h1 style="font-family:Poppins"> Page not found </h1>
</body>
</html>